<%= form_with model: article do |form| %>
<div>
  <span class="title is-4"><%= form.label :title %><br /></span>
  <span class="title is-2"><%= form.text_field :title %><br /></span>
  <% article.errors.full_messages_for(:title).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<div>
  <span class="title is-4"> <%= form.label :body %><br /></span>
  <span style="margin-top: 3rem"><%= form.text_area :body %><br /></span>
  <% article.errors.full_messages_for(:body).each do |message| %>
  <div><%= message %></div>
  <% end %>
</div>

<%=form.submit%> <% end %>
