<h1 class="header title"><%= @article.title %></h1>
<div class="container">
  <h1 class="subtitle"><%= @article.body %></h1>

  <ul class="is-flex">
    <button class="button is-warning" style="gap: 1rem;">
      <li><%= link_to "Edit", edit_article_path(@article) %></li>
    </button>
     <button class="button is-warning">
    <li>
      <%= link_to "Destroy", article_path(@article), method: :delete, data: {
      confirm: "Are you sure?" } %>
    </li>
    </button>
  </ul>

  <h2 class="subtitle">Comments</h2>
  <%= render @article.comments %>

  <h2 class="subtitle">Add a comment:</h2>
  <%= render 'comments/form' %>
</div>
